@using LoginRegNew.Models

@{
    ViewData["Title"] = "Home Page";
    User NewUser = new User(); //adding in hard code data from example. 
    LoginUser NewLoginUser = new LoginUser(); //adding in hard code data from example
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<partial name="UserPartial"/>
<partial name="LoginUserPartial"/>