<h1>Burbank, CA</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Burbank_media_district_from_Griffith_Park_2015-11-07.jpg/325px-Burbank_media_district_from_Griffith_Park_2015-11-07.jpg">
<p>Humidity: {{burbank.main.humidity}} %</p>
<p>Temperature(avg): {{convertToF(burbank.main.temp)}} &deg;F </p>
<p>Temperature(high): {{convertToF(burbank.main.temp_max)}} &deg;F</p>
<p>Temperature(low): {{convertToF(burbank.main.temp_min)}} &deg;F</p>
<p>Status: {{burbank.weather[0].description}}</p>