<h3>
    <a href="/">Home</a> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a>
</h3>
<h2>Here are some projects of mine!</h2>
<div style="height:250px;width:250px;border:2px solid #ccc;overflow:auto;"> 
    <div>
        <img src="https://t4.ftcdn.net/jpg/00/35/64/49/160_F_35644996_OTJuq0VuRGX9pGSJzAUoijZrK7ychNaw.jpg">
        <h4>Cool thing!</h4>
        <p>Blah Blah Blah</p>
    </div>
    <div>
        <img src="https://t4.ftcdn.net/jpg/00/35/64/49/160_F_35644996_OTJuq0VuRGX9pGSJzAUoijZrK7ychNaw.jpg">
        <h4>Cool thing!</h4>
        <p>Blah Blah Blah</p>
    </div>
    <div>
        <img src="https://t4.ftcdn.net/jpg/00/35/64/49/160_F_35644996_OTJuq0VuRGX9pGSJzAUoijZrK7ychNaw.jpg">
        <h4>Cool thing!</h4>
        <p>Blah Blah Blah</p>
    </div>
    <div>
        <img src="https://t4.ftcdn.net/jpg/00/35/64/49/160_F_35644996_OTJuq0VuRGX9pGSJzAUoijZrK7ychNaw.jpg">
        <h4>Cool thing!</h4>
        <p>Blah Blah Blah</p>
    </div>
    <div>
        <img src="https://t4.ftcdn.net/jpg/00/35/64/49/160_F_35644996_OTJuq0VuRGX9pGSJzAUoijZrK7ychNaw.jpg">
        <h4>Cool thing!</h4>
        <p>Blah Blah Blah</p>
    </div>
</div>