<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <input type="submit" value="Get All Tasks" (click)="getTasksFromService()">
<h2 *ngIf="dataIn">Here are all of the tasks: 
<ul *ngFor="let task of tasks">
  <li> {{task.title}} <button value="Show Info" (click)="displayData(task._id)">Get Info</button></li>
</ul>
<p *ngIf="showData">{{task1[0].title}} - {{task1[0].description}}</p> 
</h2>
</div>
