@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@model List<Dish>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col"># of Dishes</th>
    </tr>
  </thead>
  <tbody>
      @foreach(var dish in Model)
{
    <tr>
      <th scope="row"></th>
      <td>@dish.Creator.firstName
          @dish.Creator.lastName</td>
          <!--Need to find method to change date to yrs old -->
      <td>@dish.Creator.DoB</td>
      <td>@dish.Creator.CreatedDishes.Count()</td>
    </tr>
}
  </tbody>
</table>