<h3>
    <a href="/">Home</a> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a>
</h3>

<div>
    <form action="/">
        Name: <input type="text">
        Email: <input type="text">
        <div>
            Message: <input type="textarea">
        </div>
        <input type="submit" value="Send">
    </form>
</div>