* {
    padding: 0px;
    margin: 0xp;
}
.form-group {
    max-width: 400px;
}
.p {
    text-align: left;
}
.form-group {
    margin-left: 35%;
}
.home {
    margin-left:90%;
}
.main {
    margin-left: 39%;
}
.main_edit {
    margin-left:42%;
}
.btn.btn-primary {
    margin-left:47%;
}
.show_user {
    margin-left:47%;
}