<h3>
    <a href="/">Home</a> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a>
</h3>

<h2>About Me</h2>
<div>
<img src="https://t4.ftcdn.net/jpg/00/35/64/49/160_F_35644996_OTJuq0VuRGX9pGSJzAUoijZrK7ychNaw.jpg">
<h4>Moose Phillips</h4>
<p>I like stuff</p>
</div>

<div>
    <p> Kent's Commment: I know this is ugly, not super worried about the CSS right now. Just trying to make sure I understand concepts and to not fall behind. </p>
</div>