<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Login and Registration</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
	<body>
        <div class="container">
            <div class="header"> Welcome {{ name[0]['first_name'] }}
            <h1>Books <form action="/logout"> <!-- tighten this up -->
                <input class="btn btn-primary" type="submit" value="Log Out" name="logout"> <!-- needs to log user out (delete cookie) and redirect back to index.html through the same button.-->
                </form></h1>
            </div>
            <div class="addbook">
                <!--Need to have form for title, desc, and submit button-->
                <!-- book should be auto-added to user's favorites list-->
            </div>
            <div class="showbooks">
                <!-- Jinja Loop to show books in db-->
            </div>

        </div>
	</body>
</html>