<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="description" content="SHOW">
    <title>User Info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
        <a href="/users" class="home" content="Home">HOME</a>
        {% for user in user_id %}
        <h1>User {{ user['id'] }}</h1>
        <p>Full Name: {{ user['first_name'] }} {{user['last_name']}}</p>
        <p>Email: {{user['email']}}</p>
        <p>Created On: {{user['created_at']}}</p>
        <p>Last Updated On: {{user['updated_at']}}</p>
        <div class="bottombar">
            <a href="/users/{{ user['id'] }}/edit" content="Edit"> Edit </a> | <a href="/users/{{ user['id'] }}/destroy" content="Delete">Delete</a></td>
        </div>
        {% endfor %}

            <script></script>
	</body>
</html>